alias ll="ls -al"
alias restart-nginx="brew services restart openresty"
alias open-ucc="open test/reports/unit/lcov-report/index.html"
alias open-fcc="open test/reports/func/lcov-report/index.html"
alias scurl="curl -w \"@/opt/curl-stats\" ${@}"
alias cw="cd ~/projects/work"

alias nr="npm run ${@}"
alias ai='ag --path-to-ignore='~/.agignore' ${@}'
alias qt="NODE_ENV=test grunt shell:testGrowl ${@}"
alias ru="nr test"
alias rf="nr test:func"

